
div#box1
{
  text-align: left;
  min-height:  40px;
  position: relative;
  width:  auto;
  margin: 0 auto;
  display: block;
  border:  5px solid #008080; 
  padding:5px;
  background-color: #fff;
}


   


